<!-- component -->
<section class="bg-white  py-24 px-4 lg:px-16"> 
    <div class="container mx-auto px-[12px] md:px-24 xl:px-12 max-w-[1300px] nanum2">
        <h1 class="text-center text-5xl pb-12">Productos </h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-4 gap-y-28 lg:gap-y-16">
            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.autosexito.co/" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/Auto.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Automotive" title="Automotive" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Autos
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/jugueteria" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/juguetes.webp"
                                class="w-200 h-100  mt-6 m-auto" alt="Toys and Baby Products"
                                title="Toys and Baby Products" loading="lazy" width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Jugueteria
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/salud-y-belleza/drogueria" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/Medicina.webp"
                                class="w-200 h-100  mt-6 m-auto" alt="Medical" title="Medical" loading="lazy" width="200"
                                height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Medicina
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/navidad" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/navidad.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Glass" title="Glass" loading="lazy" width="200"
                                height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Decoraciones Navideñas
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/moda-y-accesorios/accesorios-y-joyeria"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/joyas.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Jewelry Coins and Medallions"
                                title="Jewelry Coins and Medallions" loading="lazy" width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Joyería Monedas y Medallones
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/ferreteria/accesorios-electricos"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/electronica.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Electric" title="Electric" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Productos Electronicos 
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.viajesexito.com/vuelos-baratos?utm_source=google-ads&utm_medium=cpc&utm_campaign=vex_co_aon_dom_sem_conv_productbrand&utm_content=vex_co_aon_dom_sem_conv_productbrand_transp&gclid=cj0kcqiasburbhciarisaexmsu4zg8zibwwn17m4ia_9pldji0lhuar5ysplydamcro1wwq2gh9uhmkaasfpealw_wcb"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/avion.webp"
                                class="w-200 h-100  mt-6 m-auto" alt="Packaging / FMCG" title="Packaging / FMCG"
                                loading="lazy" width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Vuelos
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/moda-y-accesorios/mujer-nike"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/zapato.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Footwear" title="Footwear" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Calzado para mujer
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/moda-y-accesorios/accesorios-de-moda/morrales-y-loncheras"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/mochila.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Backpacks and Umbrella"
                                title="Backpacks and Umbrella" loading="lazy" width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Mochilas
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-900 shadow-md">
                <a href="https://www.viajesexito.com/hoteles?utm_source=google-ads&utm_medium=cpc&utm_campaign=VEX_CO_SEM_DINAMICO_VUELOS_CONV_102023&utm_content=VEX_CO_SEM_DINAMICO_VUELOS_CTG&gclid=Cj0KCQiAsburBhCIARIsAExmsu7lepFhPgcc76yywJuXgGl5GFfgXHjp7qCgAGjBzLPfpE6dKSY6TSsaAmDfEALw_wcB"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/hoteles.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Caps and Closures" title="Caps and Closures"
                                loading="lazy" width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Hoteles
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/mercado/snacks/confiteria-y-dulces" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/confite.jpg"
                                class="w-200 h-100 mt-6 m-auto" alt="Confectionery" title="Confectionery" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Confitería
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/salud-y-belleza/cosmeticos-y-maquillaje" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/cosmetico.jpg"
                                class="w-200 h-100 mt-6 m-auto" alt="Cosmetics" title="Cosmetics" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Cosmeticos 
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/mercado/aseo-del-hogar/implementos-para-la-limpieza"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/limpieza.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Electronics" title="Electronics" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Limpieza 
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/tecnologia/computadores-y-accesorios/accesorios-de-computador"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/repuestos.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Consumer Electronics" title="Consumer Electronics"
                                loading="lazy" width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                           Repuestos de Computador
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/electrodomesticos?gad_source=1&gclid=Cj0KCQiAsburBhCIARIsAExmsu46pI_zt3w9CHoAzN8Ak4gIAud1p19i49dDRHR7iJGSg-rXNjC_l1MaAh0sEALw_wcB&gclsrc=aw.ds" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/promociones.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Promotional" title="Promotional" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            promocional
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/home-moda-accesorios?gad_source=1&gclid=Cj0KCQiAsburBhCIARIsAExmsu46lM9DM4vz345Pmf8om777pZ-n6bty6bYiF_xh6wbQ0UpkBdpbB_MaAjzwEALw_wcB"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/deportivo.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Sports" title="Sports" loading="lazy" width="200"
                                height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Deportivo
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/papeleria" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/Papelería.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Stationery" title="Stationery" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Papelería
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/ferreteria/herramientas" class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/herramienta.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Tools" title="Tools" loading="lazy" width="200"
                                height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Herramientas
                        </p>
                    </div>
                </a>
            </div>

            <div class="relative group h-48 flex   flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
                <a href="https://www.exito.com/hogar/cocina/utensilios-de-cocina"
                    class="block">
                    <div class="h-28">
                        <div
                            class="absolute -top-20 lg:top-[-10%] left-[5%] z-40  group-hover:top-[-40%] group-hover:opacity-[0.9]   duration-300 w-[90%] h-48 bg-yellow-400 rounded-xl justify-items-center align-middle">
                            <img src="assets/utensilios.jpg"
                                class="w-200 h-100  mt-6 m-auto" alt="Utensils" title="Utensils" loading="lazy"
                                width="200" height="200">
                        </div>
                    </div>
                    <div class="p-6   z-10 w-full   ">
                        <p
                            class="mb-2 inline-block text-tg text-center w-full  text-xl  font-sans  font-semibold leading-snug tracking-normal   antialiased">
                            Utensilios
                        </p>
                       
                    </div>
                </a>
            </div>
            
        </div>
    </div>

    <br>    

    <button routerLink="/dashboard" routerLinkActive="active" class="btn btn-primary">
        Inicio
      </button>
      
   
    
</section>
