<div style="text-align: center;">




    <img src="assets/descarga.png" align="center" />

<br><br>
<strong><p>Política de privacidad y protección de datos</strong>
<br>
    <strong>Introdución</strong>
    <br>
    En Vijaes Exito, nos comprometemos a proteger su privacidad. Esta Política de privacidad y protección de datos 
    ("Política") describe cómo recopilamos, utilizamos y compartimos su información personal cuando visita nuestro 
    sitio web [nombre del sitio web] o utiliza nuestros servicios.
    <br><br>
     <strong>Información que recopilamos</strong>    
    <br>
    Podemos recopilar información personal sobre usted de varias maneras, incluidas las siguientes:
    
    Información que nos proporciona: Recopilamos información que nos proporciona directamente, como cuando crea una 
    cuenta, se registra para recibir boletines informativos o participa en encuestas. Esta información puede incluir 
    su nombre, dirección de correo electrónico, número de teléfono y otra información de contacto.

<br><br>
    <strong>Información que recopilamos automáticamente:</strong>  
    <br>
    Cuando visita nuestro sitio web, recopilamos automáticamente cierta información sobre su dispositivo y su 
    comportamiento de navegación. Esta información puede incluir su dirección IP, el tipo de navegador que utiliza, la 
    página que visitó antes de venir a nuestro sitio web y las páginas que visita en nuestro sitio web.
<br><br>
    <strong>Información que recopilamos de terceros:</strong>      
    <br>
    Podemos recopilar información sobre usted de terceros, como socios comerciales o redes sociales. Esta información 
    puede incluir su nombre, dirección de correo electrónico, número de teléfono y otra información de contacto.
    Cómo utilizamos su información
<br><br>
 <strong>Utilizamos su información personal para los siguientes fines:</strong>  
<br>
Para proporcionarle nuestros servicios: Utilizamos su información personal para proporcionarle nuestros servicios, 
como permitirle crear una cuenta, registrarse para recibir boletines informativos y participar en encuestas.

Para comunicarnos con usted: Utilizamos su información personal para comunicarnos con usted sobre nuestros servicios, 
omo enviarle correos electrónicos de marketing o notificaciones sobre cambios en nuestros términos y condiciones.
Para mejorar nuestros servicios: Utilizamos su información personal para mejorar nuestros servicios, como comprender cómo 
los usuarios utilizan nuestro sitio web y desarrollar nuevos productos y servicios.

<br><br>
<strong>Para cumplir con la ley: </strong>
<br>
Utilizamos su información personal para cumplir con la ley, como responder a solicitudes de las autoridades gubernamentales.
Compartimos su información
<br><br>
  <strong>Podemos compartir su información personal con terceros en las siguientes circunstancias:</strong>
<br>
Podemos compartir su información personal con proveedores de servicios que nos ayudan a proporcionar nuestros servicios, como 
compañías de alojamiento web o empresas de marketing por correo electrónico.

<br><br>
  <strong> Con socios comerciales:</strong>
  <br>
  Podemos compartir su información personal con socios comerciales con los que ofrecemos 
  productos o servicios conjuntos.

<br><br>
<strong>Con terceros a los que nos obligue la ley:</strong>   
<br>

Podemos compartir su información personal con terceros a los que nos obligue la ley, como las autoridades gubernamentales.
Sus derechos
<br><br>
 <strong>Tiene ciertos derechos sobre su información personal, incluidos los siguientes:</strong>  
<br>
Derecho de acceso: Tiene derecho a acceder a su información personal que tenemos.
Derecho de rectificación: Tiene derecho a corregir cualquier inexactitud en su información personal.
Derecho de supresión: Tiene derecho a solicitar que eliminemos su información personal.
Derecho de restricción del tratamiento: Tiene derecho a solicitar que restrinjamos el tratamiento de su información personal.
Derecho a la portabilidad de los datos: Tiene derecho a solicitar que le proporcionemos su información personal en un formato electrónico.
Para ejercer cualquiera de estos derechos, puede ponerse en contacto con nosotros en la dirección que se indica a continuación.
<br><br>
<div class="container">

    

<p class="mt-1">
    <a routerLink="/https://outlook.office365.com/">Yberriohgrupo-exito.com</a>
  </p>
  <br>
3226590118
<br>
<p class="mt-1">
    <a routerLink="/https://outlook.office365.com/">Yberriohgrupo-exito.com</a>
  </p>
  <br>
  <p class="mt-1">
    <a routerLink="/https://maps.app.goo.gl/HzUV6ji4jpG9Fw8c8">City plaza</a>
  </p>
</div>


 <strong> <input type="checkbox" id="checkbox" /><p class="mt-1">
    <a routerLink="/login">Aceptar terminos y condiciones</a>
  </p></strong> 

</div>>