/* Estilos generales */
body {
    background-color: #f7fafc;
    font-family: 'sans-serif';
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% del alto de la ventana */
}

/* Estilos de los enlaces de redes sociales */
.social-links {
    display: flex;
    gap: 1rem; /* Espacio entre los elementos hijos */
    margin-bottom: 1rem; /* Margen inferior */
}

.social-links a {
    text-decoration: none;
}

/* Colores de los iconos de redes sociales */
.social-links .text-blue-500 {
    color: #3b5998; /* Color de Facebook */
}

.social-links .text-pink-500 {
    color: #e4405f; /* Color de Instagram */
}

.social-links .text-gray-600 {
    color: #24292e; /* Color de GitHub */
}

.social-links .text-red-500 {
    color: #bd081c; /* Color de Pinterest */
}

.social-links .text-blue-700 {
    color: #0077b5; /* Color de LinkedIn */
}

.social-links .text-pink-700 {
    color: #ea4c89; /* Color de Dribbble */
}

/* Estilos del párrafo de derechos de autor */
.copyright {
    font-size: 1rem;
    padding: 2rem;
    text-align: start; /* Alineación del texto a la izquierda */
}

@media (min-width: 768px) {
    /* Estilos para pantallas más grandes (md) */
    .container {
        text-align: center; /* Alineación del texto al centro en pantallas medianas y más grandes */
    }

    .social-links {
        margin-bottom: 2rem;
    }

    .copyright {
        text-align: center;
    }
}
