<div class="flex gap-4 hover:cursor-pointer">
    <a href="https://www.facebook.com/ViajesExitoColombia/?locale=es_LA" title="viajes exito">
    <img src="https://www.svgrepo.com/show/303114/facebook-3-logo.svg" width="30" height="30" alt="fb" />
</a>

<a href="https://twitter.com/almacenesexito">
      <img src="https://www.svgrepo.com/show/303115/twitter-3-logo.svg" width="30" height="30" alt="tw" />
    </a>
    <a href="https://www.instagram.com/viajesexito/?hl=es">
      <img src="https://www.svgrepo.com/show/303145/instagram-2-1-logo.svg" width="30" height="30" alt="inst" />
    </a>
    <a href="https://github.com/berrio12">
      <img src="https://www.svgrepo.com/show/94698/github.svg" class="" width="30" height="30" alt="gt" />
      </a>
      <a href="https://www.pinterest.es/viajesexito/">
      <img src="https://www.svgrepo.com/show/22037/path.svg" width="30" height="30" alt="pn" />
    </a>
    <a href="https://co.linkedin.com/company/viajes-%C3%A9xito">
      <img src="https://www.svgrepo.com/show/28145/linkedin.svg" width="30" height="30" alt="in" />
    </a>
    <a href="https://www.viajesexito.com/">
      <img src="https://www.svgrepo.com/show/22048/dribbble.svg" class="" width="30" height="30" alt="db" />
    </a>
  